<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Will Hopkins | Contact</title>
  <%- include('../partials/head') %>

  <!-- Cloudflare turnstile script -->
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>

</head>

<body>
  <%- include('../partials/nav') %>
  <main id="contact" class="pd-md space-y-8">
    <div class="flex">
      <p role="contentinfo">Use this form to get in touch.</p>
    </div>
    <% if (msg) { %>
      <h3 class="text-center py-8"><%= msg %></h3>
    <% } %>

    <!-- Contact form -->
    <form action="/mailsend" class="form contact-form" method="post" novalidate id="contact-form">
      <div class="item">
        <div class="subitem">
          <label for="name">Name*</label>
          <input type="text" name="name" required />
        </div>
        <div class="subitem">
          <label for="email">Email*</label>
          <input type="text" name="email" required />
        </div>
      </div>
      <div class="item">
        <div class="subitem">
          <label for="subject">Subject*</label>
          <input type="text" name="subject" required />
        </div>
      </div>
      <div class="item">
        <div class="subitem">
          <label for="message">Message</label>
          <textarea name="message" id="" cols="30" rows="10"></textarea>
        </div>
      </div>

      <!-- Cloudflare turnstile -->
      <div class="item">
        <div class="cf-turnstile" data-sitekey="0x4AAAAAAAcD_xQ-LH6LkCq1"></div>
      </div>

      <div class="item">
        <div class="subitem">
          <button
            type="submit"
            class="btn btn-primary"
            >
            Submit
          </button>

        </div>
      </div>
    </form>
  </main>
  <%- include('../partials/footer') %>

  <script>
    function onSubmit(token) {
      document.getElementById("contact-form").submit();
    }
  </script>
 
</body>

</html>