<section id="banner">
  <img src="<%= img.src %>" alt="<%= img.alt %>" />

  <ul role="list">
    <li><a href="/">home</a></li>
    <li><a href="/bio">bio</a></li>
    <li><a href="/contact">contact</a></li>
    <li><a href="/listen">listen</a></li>
  </ul>

  <div class="logo">
    <h1><a href="/">Will Hopkins</a></h1>
  </div>
</section>
