<footer>
  <ul>
    <li>
      <a href="https://www.instagram.com/willhopkins72/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    </li>
    <li>
      <a href="https://www.facebook.com/willhopkins72/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/will-hopkins-8aa960156/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </li>
    <li>
      <a href="https://www.youtube.com/@willhopkins72" target="_blank"><i class="fa-brands fa-youtube"></i></a>
    </li>
  </ul>
  <span class="copyright">Copyright &copy; <%= new Date().getFullYear();%> Will Hopkins</span>
</footer>
