<nav>
	<ul>
		<li><a href="/">home</a></li>
		<li><a href="/events">events</a></li>
		<li><a href="/bio">bio</a></li>
		<li><a href="/listen">listen</a></li>
		<li><a href="/repertoire">repertoire</a></li>
		<li><a href="/contact">contact</a></li>
	</ul>
</nav>