<section id="news">
  <h1>News</h1>
  <div class="banner">
    <div class="container">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit
        distinctio exercitationem, saepe officia ipsam ab!
      </p>
    </div>
  </div>
</section>
