@use '../abstracts/' as a;
@use '../layout' as l;
@use '../theme/' as t;

.btn {
  @include t.sans;
  @include l.radius(sm);
  @include a.transition($duration: 0.1s);
  padding: 5px 15px;
  margin: 0 auto;
  display: block;
  width: max-content;
}

.btn-primary {
  background-color: var(--btn-primary);
  color: var(--200);
  &:hover {
    background-color: var(--btn-primary-hover);
    outline: solid 1px white;
    color: white;
  }
}

.success-btn {
  background-color: var(--success);
  color: var(--200);
  &:hover {
    background-color: var(--success-hover);
    outline: solid 1px white;
    color: white;
  }
}

.danger-btn {
  background-color: transparent;
  color: var(--100);
  &:hover {
    color: black;
  }
}

.add-new-btn {
  margin: 0 0 30px;
}
