<section id="carousal">
  <div class="card">
    <blockquote>&ldquo;<%= JSON.parse(quote.body).quote %>&rdquo;</blockquote>
    <blockquote>&mdash;<%= JSON.parse(quote.body).attribution %></blockquote>
  </div>
</section>
