@use '../abstracts/' as a;
@use '../layout' as l;
@use '../theme/' as t;

#bio {
  --gap: 30px;
  padding: var(--gap);
  @include a.transition($property: padding, $duration: 0.5s);
  @include l.min(lg) {
    padding-left: calc(var(--gap) * 3);
    padding-right: calc(var(--gap) * 3);
  }
  @include l.max-width(bio);
  margin: 0 auto;

  .block:first-child {
    @include l.min(lg) {
      display: none;
    }
  }

  img {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    opacity: 75%;
    @include l.radius(md);
  }
  blockquote {
    max-width: 400px;
    margin: 0 auto;
  }

  .block + .block {
    @include l.max(lg, -1px) {
      margin-top: var(--gap);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    @include l.min(md) {
      flex-direction: row;
    }

    .text {
      @include t.serif;
    }
    .files {
      @include t.sans;
    }

    color: var(--200);
    line-height: 2;

    p + p {
      margin-top: var(--gap);
    }

    div + div {
      @include l.max(md, -1px) {
        margin-top: var(--gap);
      }
      @include l.min(md) {
        margin-left: var(--gap);
        padding-left: var(--gap);
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 1px;
          height: 188px;
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }

    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }

    span {
      @include l.min(lg) {
        display: inline;
      }

      $margin: 40px;

      display: none;
      float: left;
      max-width: 300px;
      margin-right: $margin;
      margin-bottom: $margin;
    }
  }
}
