@use '../abstracts/' as a;
@use '../layout' as l;
@use '../theme/' as t;

#carousal {
  .card {
    width: 100%;

    padding: 50px;

    blockquote {
      font-size: 30px;
      text-align: center;
    }
  }

  @include l.max-width(md);
  margin: 0 auto;
}
