@use '../abstracts/' as a;
@use '../layout' as l;
@use '../theme/' as t;

#contact {
  @include l.max-width(md);
  margin: 0 auto;
  padding: 30px;
  p[role='contentinfo'] {
    padding: 30px;
    color: var(--200);
    @include t.serif;
    line-height: 2;
    font-size: 18px;
  }
}
