@use '../abstracts/' as a;
@use '../layout' as l;
@use '../theme/' as t;

#intro {
  padding: 0 30px;
  @include t.sans;
  color: var(--light-grey);
  line-height: 2;

  p {
    & + p {
      margin-top: 30px;
    }

    &:last-of-type {
      margin-bottom: 30px;
    }
  }

  @include l.max-width(md);
  margin: 0 auto;
}
