@use '../abstracts/' as a;
@use '../layout' as l;
@use '../theme/' as t;

#listen[data-cli] {
  padding-top: 23px;
  margin: 0 auto;
  @include l.max(xxl, -1px) {
    @include l.max-width(md);
  }

  .card {
    @include t.sans;

    & + .card {
      @include l.max(xxl, -1px) {
        margin-top: 50px;
      }
    }

    .title,
    .description {
      padding: 0 15px;
    }

    .title {
      font-size: 20px;
      font-weight: 400;
      color: var(--200);
      margin-bottom: 10px;
    }

    .description {
      font-size: 16px;
      font-weight: 300;
      color: var(--100);
      margin-left: 5px;
      line-height: 2;
    }

    iframe {
      width: 100%;
      aspect-ratio: 16/9;
      margin-top: 20px;
      background-color: var(--40);
    }
  }

  @include l.min(xxl) {
    display: flex;
    flex-wrap: wrap;

    $gap: 3%;
    gap: $gap;

    .card {
      width: calc((100% / 2) - ($gap / 2));
      margin-bottom: 3%;
    }

    padding: 60px;

    @include l.max-width(xxl);
  }
}
