@use '../abstracts/' as a;
@use '../layout' as l;
@use '../theme/' as t;

$color: 75;

#works[data-cli] {
  @include l.padding(md);
  @include l.max(xs) {
    @include l.padding(sm);
  }

  .header {
    @include t.serif;
    @include l.max-width(md);
    margin-bottom: 30px;
  }

  .top {
    background-color: rgba($color, $color, $color, 0.1);

    @include l.padding(sm);
  }

  .container {
    @include l.max-width(md);
  }

  .card {
    // background-color: rgba($color, $color, $color, 0.1);
    @include l.padding(sm);
    ul {
      color: var(--200);
      @include t.serif;
    }

    .main-text {
      background-color: rgba($color, $color, $color, 0.1);
      @include l.padding(sm);
      border-top: solid 1px rgba(247, 247, 247, 0.1);
      @include t.sans;
      color: #c8c8c8;
    }
  }
}
