@use "../abstracts/" as a;
@use "../layout" as l;
@use "../theme/" as t;

#works[data-cli] {
  @include l.padding(md);
  @include l.max(xs) {
    @include l.padding(sm);
  }

  .header {
    @include t.sans;
    @include l.max-width(md);
    margin-bottom: 30px;
  }

  .container {
    @include l.max-width(md);
  }

  .card + .card {
    margin-top: 30px;
  }

  $color: 100;

  .card {
    // background-color: rgba($color, $color, $color, 0.1);
    @include l.padding(sm);
    @include l.radius(sm);
    ul {
      color: var(--200);
      @include t.sans;
    }

    .main-text {
      background-color: rgba($color, $color, $color, 0.1);
      @include l.padding(sm);
      margin: 10px 0;
      @include t.sans;
      border-left: solid 3px var(--main-accent);
    }
  }
}
