@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --off-white: rgb(247, 247, 247);
  --light-gray: rgb(210, 210, 210);
  --mid-gray: rgb(140, 140, 140);
  --gray: rgb(100, 100, 100);
  --dark-gray: rgb(35, 35, 35);
  --accent-color: rgba(227, 110, 110, 55%);
  --accent-color-fade: rgb(227, 110, 110, 10%);
  --main: rgb(23, 10, 10);
  --main-accent: rgb(136, 57, 59);
  --main-light: rgb(153, 80, 82);
  --secondary-color: rgb(15, 0, 0);
  --secondary-color-dark: rgba(10, 0, 0);
  --btn-color: rgb(92, 40, 40);
  --btn-color-hover: rgb(139, 77, 77);
  --success: var(--main-accent);
  --success-hover: var(--main-light);
  --danger: rgb(121, 66, 35);
  --danger-hover: rgb(121, 76, 36);
}

body {
  transition: padding 0.5s ease-in-out;
  transition: margin 0.5s ease-in-out;
}

blockquote {
  font-style: italic;
  font-family: "Georgia", serif;
}

.btn-primary {
  background-color: var(--btn-color);
  font-family: "Roboto", sans-serif;
  padding: 5px 15px;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
  width: max-content;
  color: var(--light-gray);
  transition: all 0.1s ease-in-out;
}
.btn-primary:hover {
  background-color: var(--btn-color-hover);
  outline: solid 1px white;
  color: white;
}

.success-btn {
  background-color: var(--success);
  font-family: "Roboto", sans-serif;
  padding: 5px 15px;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
  width: max-content;
  color: var(--light-gray);
  transition: all 0.1s ease-in-out;
}
.success-btn:hover {
  background-color: var(--success-hover);
  outline: solid 1px white;
  color: white;
}

.danger-btn {
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  padding: 5px 15px;
  margin: 0 auto;
  display: block;
  width: max-content;
  color: var(--gray);
  transition: all 0.1s ease-in-out;
}
.danger-btn:hover {
  color: black;
}

.main-header {
  padding-top: 60px;
  padding-bottom: 30px;
  color: var(--gray);
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.dash-header {
  color: var(--mid-gray);
  text-align: center;
  font-family: "Georgia", serif;
}
.dash-header:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--light-gray);
  margin: 30px auto;
}

.primary-form .item:first-child {
  display: flex;
  justify-content: space-between;
}
.primary-form .item:first-child .subitem {
  width: 100%;
}
.primary-form .item:first-child .subitem + .subitem {
  margin-left: 30px;
}
.primary-form .item + .item {
  margin-top: 17.5px;
}
.primary-form .item:last-child {
  margin-top: 60px;
}
.primary-form .item:last-child button {
  width: 100%;
}
.primary-form .item .subitem label {
  display: block;
  margin-bottom: 5px;
  color: var(--light-gray);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
.primary-form .item .subitem input,
.primary-form .item .subitem textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(210, 210, 210, 0.15);
  background-color: var(--secondary-color);
  color: var(--light-gray);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  resize: none;
}
.primary-form .item .subitem input:focus,
.primary-form .item .subitem textarea:focus {
  outline: none;
  border-color: var(--gray);
}
.primary-form .item .subitem textarea {
  height: 200px;
}

.dash-form .item + .item {
  margin-top: 17.5px;
}
.dash-form .item.flex {
  display: flex;
  justify-content: flex-end;
}
.dash-form .item.flex .subitem + .subitem {
  margin-left: 10px;
}
.dash-form .item .subitem label {
  display: block;
  margin-bottom: 5px;
  color: var(--main);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
.dash-form .item .subitem input,
.dash-form .item .subitem textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(210, 210, 210, 0.15);
  background-color: var(--light-gray);
  color: var(--main);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  resize: none;
  border-radius: 5px;
}
.dash-form .item .subitem input:focus,
.dash-form .item .subitem textarea:focus {
  outline: none;
  border-color: rgba(50, 50, 50, 0.15);
}
.dash-form .item .subitem textarea {
  height: 100px;
}
.dash-form .item .subitem textarea.lg {
  height: 400px;
}

.dash {
  background-color: var(--off-white);
}
.dash main {
  margin-left: 175px;
  font-family: "Roboto", sans-serif;
  padding: 30px;
}

nav {
  font-family: "Roboto", sans-serif;
  padding: 15px 10px;
  background-color: var(--secondary-color-dark);
  box-shadow: 0 0 1px 1px rgb(10, 0, 0);
  position: sticky;
  z-index: 10;
  top: 0;
}
nav ul {
  display: flex;
  justify-content: space-around;
  max-width: 330px;
  margin: 0 auto;
}
nav a {
  font-weight: 300;
  color: var(--light-gray);
}
nav a:hover, nav a.active {
  color: var(--off-white);
  transition: all 0.3s ease-in-out;
}
nav a:hover::after, nav a.active::after {
  width: 100%;
  transition: width 0.3s;
}
nav a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin-top: 2px;
  background-color: var(--accent-color);
}

footer {
  background-color: var(--secondary-color);
  margin-top: 30px;
  padding: 37px;
}
footer ul {
  display: flex;
  justify-content: space-around;
  color: var(--gray);
  max-width: 360px;
  margin: 0 auto;
}
footer ul a {
  font-size: 30px;
  cursor: pointer;
}
footer ul a:hover {
  color: var(--light-gray);
  transition: all 0.1s ease-in-out;
}
footer .copyright {
  color: var(--gray);
  display: block;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin-top: 20px;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 175px;
  height: 100vh;
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  padding: 10px 0;
}
aside a {
  display: block;
  padding: 15px;
  color: var(--light-gray);
  transition: all 0.3s ease-in-out;
}
aside a span {
  margin-left: 5px;
}
aside a:hover {
  background-color: var(--main-accent);
  color: white;
}
aside a.active {
  border-left: solid 5px var(--main-accent);
}
aside .bottom {
  margin-top: auto;
}

#bio {
  --gap: 30px;
  padding: var(--gap);
  transition: padding 0.5s ease-in-out;
  max-width: 1000px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  #bio {
    padding: calc(var(--gap) * 2);
  }
}
@media (min-width: 992px) {
  #bio .block:first-child {
    display: none;
  }
}
#bio img {
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  opacity: 75%;
  border-radius: 10px;
}
#bio blockquote {
  max-width: 400px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  #bio .block + .block {
    margin-top: var(--gap);
  }
}
#bio .content {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  color: var(--light-gray);
  line-height: 2;
}
@media (min-width: 768px) {
  #bio .content {
    flex-direction: row;
  }
}
#bio .content p + p {
  margin-top: var(--gap);
}
@media (max-width: 767px) {
  #bio .content div + div {
    margin-top: var(--gap);
  }
}
@media (min-width: 768px) {
  #bio .content div + div {
    margin-left: var(--gap);
    padding-left: var(--gap);
    position: relative;
  }
  #bio .content div + div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 188px;
    background-color: rgba(255, 255, 255, 0.1);
  }
}
#bio .content a {
  text-decoration: underline;
}
#bio .content a:hover {
  text-decoration: none;
}
#bio .content span {
  display: none;
  float: left;
  max-width: 300px;
  margin-right: 40px;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  #bio .content span {
    display: inline;
  }
}

#carousal {
  max-width: 700px;
  margin: 0 auto;
}
#carousal .card {
  width: 100%;
  padding: 50px;
}
#carousal .card blockquote {
  font-size: 30px;
}

#contact {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
}
#contact p[role=contentinfo] {
  padding: 30px;
  color: var(--light-gray);
  font-family: "Georgia", serif;
  line-height: 2;
  font-size: 18px;
}

#hero {
  position: relative;
  width: 100%;
  padding-bottom: 15px;
  height: 50vh;
  background-color: var(--secondary-color-dark);
  transition: height 0.5s ease-in-out;
}
@media (min-width: 992px) {
  #hero {
    height: 80vh;
  }
}
#hero hr {
  border-top: solid 2px var(--secondary-color-A50);
  box-shadow: 0 0 5px var(--secondary-color);
}
#hero img,
#hero .gradient {
  max-width: 1200px;
  transition: margin 0.5s ease-in-out;
}
@media (min-width: 1230px) {
  #hero img,
  #hero .gradient {
    margin-top: 15px;
  }
}
#hero img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  object-position: center 15%;
  z-index: 0;
}
#hero .gradient {
  background: linear-gradient(rgba(255, 255, 255, 0), black);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
#hero h1 {
  position: absolute;
  bottom: 0;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
  text-align: center;
  padding: 10px 50px;
  border-radius: 10px;
  font-family: "Georgia", serif;
  font-weight: 400;
  font-size: 36px;
  color: var(--light-gray);
  z-index: 3;
}

#intro {
  padding: 0 30px;
  font-family: "Roboto", sans-serif;
  color: var(--light-gray);
  line-height: 2;
  max-width: 700px;
  margin: 0 auto;
}
#intro p + p {
  margin-top: 30px;
}
#intro p:last-of-type {
  margin-bottom: 30px;
}

#listen {
  padding-top: 23px;
  margin: 0 auto;
}
@media (max-width: 1399px) {
  #listen {
    max-width: 700px;
  }
}
#listen .card {
  font-family: "Roboto", sans-serif;
}
@media (max-width: 1399px) {
  #listen .card + .card {
    margin-top: 50px;
  }
}
#listen .card .title,
#listen .card .description {
  padding: 0 15px;
}
#listen .card .title {
  font-size: 20px;
  font-weight: 400;
  color: var(--light-gray);
  margin-bottom: 10px;
}
#listen .card .description {
  font-size: 16px;
  font-weight: 300;
  color: var(--gray);
  margin-left: 5px;
  line-height: 2;
}
#listen .card iframe {
  width: 100%;
  aspect-ratio: 16/9;
  margin-top: 20px;
  background-color: var(--dark-gray);
}
@media (min-width: 1400px) {
  #listen {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    padding: 60px;
    max-width: 1900px;
  }
  #listen .card {
    width: 48.5%;
    margin-bottom: 3%;
  }
}

#news {
  padding: 100px 0;
}
#news h1 {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  color: var(--gray);
  font-size: 32px;
}
#news .banner {
  background-color: var(--accent-color);
  padding: 30px;
  margin: 30px 0;
  box-shadow: rgba(64, 64, 64, 0.287) 0px 5px 15px;
}
#news .banner .container {
  max-width: 700px;
  margin: 0 auto;
}
#news .banner .container p {
  font-size: 22px;
  color: var(--light-gray);
}

#login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login h1 {
  font-family: "Roboto", sans-serif;
  color: var(--light-gray);
  font-size: 24px;
  font-weight: 400;
}
#login form {
  width: 500px;
  border: solid 1px rgba(255, 255, 255, 0.1);
  padding: 30px;
}
#login p,
#login a {
  font-family: "Roboto", sans-serif;
  margin: 15px 0;
  color: var(--gray);
}
#login p {
  margin-bottom: 30px;
}
#login a:hover {
  color: var(--light-gray);
  transition: all 0.3s ease-in-out;
}

#dashboard-home h1 {
  text-align: center;
  color: var(--light-gray);
  font-weight: 500;
}
