@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  /* Theme Colors */
  --main: rgb(23, 10, 10);
  --main-accent: rgb(136, 57, 59);
  --main-light: rgb(153, 80, 82);
  --secondary-color: rgb(15, 0, 0);
  --secondary-color-dark: rgba(10, 0, 0);
  --accent-color: rgba(227, 110, 110, 55%);
  --accent-color-fade: rgb(227, 110, 110, 10%);
  /* Components */
  --btn-primary: rgb(92, 40, 40);
  --btn-primary-hover: rgb(139, 77, 77);
  --hero-bg: rgb(64, 7, 7);
  /* Utility */
  --success: #198754;
  --success-hover: #198754;
  --danger: #b00020;
  --danger-hover: #b00020;
  --form: rgb(48, 66, 85);
  /* Monochrome */
  --247: rgb(247, 247, 247);
  --235: rgb(235, 235, 235);
  --220: rgb(220, 220, 220);
  --200: rgb(200, 200, 200);
  --180: rgb(180, 180, 180);
  --160: rgb(160, 160, 160);
  --140: rgb(140, 140, 140);
  --120: rgb(120, 120, 120);
  --100: rgb(100, 100, 100);
  --80: rgb(80, 80, 80);
  --60: rgb(60, 60, 60);
  --40: rgb(40, 40, 40);
  --20: rgb(20, 20, 20);
  --8: rgb(8, 8, 8);
}

blockquote {
  font-style: italic;
  font-family: "Georgia", serif;
}

.btn {
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  padding: 5px 15px;
  margin: 0 auto;
  display: block;
  width: max-content;
}

.btn-primary {
  background-color: var(--btn-primary);
  color: var(--200);
}
.btn-primary:hover {
  background-color: var(--btn-primary-hover);
  outline: solid 1px white;
  color: white;
}

.success-btn {
  background-color: var(--success);
  color: var(--200);
}
.success-btn:hover {
  background-color: var(--success-hover);
  outline: solid 1px white;
  color: white;
}

.danger-btn {
  background-color: transparent;
  color: var(--100);
}
.danger-btn:hover {
  color: black;
}

.add-new-btn {
  margin: 0 0 30px;
}

/* Headers */
.main-header {
  padding-top: 60px;
  padding-bottom: 30px;
  color: var(--100);
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.secondary-header {
  color: var(--140);
  text-align: center;
  font-family: "Georgia", serif;
}
.secondary-header:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--200);
  margin: 30px auto;
}

.third-header {
  font-family: "Georgia", serif;
}

.event-header {
  font-family: "Georgia", serif;
  color: var(--247);
  font-size: 80px;
  text-align: center;
  margin: 100px 0;
}

/* Links */
.dashboard-table-link {
  color: var(--form);
  text-decoration: underline;
  display: block;
  width: max-content;
  margin: 15px 0 30px;
}
.dashboard-table-link:hover {
  text-decoration: none;
}
.dashboard-table-link i {
  margin-left: 5px;
}

/* Text */
.main-text {
  font-family: "Georgia", serif;
}

.primary-form .item:first-child {
  display: flex;
  justify-content: space-between;
}
.primary-form .item:first-child .subitem {
  width: 100%;
}
.primary-form .item:first-child .subitem + .subitem {
  margin-left: 30px;
}
.primary-form .item + .item {
  margin-top: 17.5px;
}
.primary-form .item:last-child {
  margin-top: 60px;
}
.primary-form .item:last-child button {
  width: 100%;
}
.primary-form .item .subitem label {
  display: block;
  margin-bottom: 5px;
  color: var(--200);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
.primary-form .item .subitem input,
.primary-form .item .subitem textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(210, 210, 210, 0.15);
  background-color: var(--secondary-color);
  color: var(--200);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  resize: none;
}
.primary-form .item .subitem input:focus,
.primary-form .item .subitem textarea:focus {
  outline: none;
  border-color: var(--gray);
}
.primary-form .item .subitem textarea {
  height: 200px;
}

.dashboard-form {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.dashboard-form input[type=hidden] + .item {
  margin-top: 17.5px;
}
.dashboard-form .item + .item {
  margin-top: 17.5px;
}
.dashboard-form .item.flex {
  display: flex;
  justify-content: flex-end;
}
.dashboard-form .item.flex .subitem + .subitem {
  margin-left: 10px;
}
.dashboard-form .item .subitem label {
  display: block;
  margin-bottom: 5px;
  color: var(--main);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
.dashboard-form .item .subitem label,
.dashboard-form .item .subitem select {
  text-transform: capitalize;
}
.dashboard-form .item .subitem select option {
  text-transform: capitalize;
}
.dashboard-form .item .subitem input,
.dashboard-form .item .subitem textarea,
.dashboard-form .item .subitem select {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(210, 210, 210, 0.15);
  background-color: var(--form);
  color: var(--247);
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  font-size: 18px;
  resize: none;
}
.dashboard-form .item .subitem input:focus,
.dashboard-form .item .subitem textarea:focus,
.dashboard-form .item .subitem select:focus {
  outline: none;
  border-color: rgba(50, 50, 50, 0.15);
}
.dashboard-form .item .subitem textarea {
  height: 100px;
}
.dashboard-form .item .subitem textarea.lg {
  height: 400px;
}
.dashboard-form .item .subitem img {
  max-width: 400px;
  margin: 15px 0;
  border-radius: 10px;
}

.primary-table {
  color: var(--40);
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid var(--200);
  border-radius: 4px;
  overflow: hidden;
}
.primary-table td,
.primary-table th {
  border: 1px solid var(--200);
  text-align: left;
  padding: 15px;
  white-space: nowrap;
}
.primary-table col.icon {
  width: 1%;
}
.primary-table a.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.primary-table button.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100%;
}

.flash-message {
  position: fixed;
  top: 10px;
  right: 50%;
  transform: translateX(50%);
  z-index: 9999;
  width: max-content;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Roboto", sans-serif;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.2);
  color: var(--247);
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.flash-message.active {
  opacity: 1;
}
.flash-message.success {
  background-color: var(--success);
}
.flash-message.danger {
  background-color: var(--danger);
}

.space {
  padding: 15px;
}

.margin-top {
  margin-top: 30px;
}

nav {
  font-family: "Roboto", sans-serif;
  padding: 15px 10px;
  background-color: var(--secondary-color-dark);
  box-shadow: 0 0 1px 1px rgb(10, 0, 0);
  position: sticky;
  z-index: 10;
  top: 0;
}
nav ul {
  display: flex;
  justify-content: space-around;
  max-width: 420px;
  margin: 0 auto;
}
nav a {
  font-weight: 300;
  color: var(--200);
}
nav a:hover, nav a.active {
  color: var(--247);
  transition: all 0.3s ease-in-out;
}
nav a:hover::after, nav a.active::after {
  width: 100%;
  transition: width 0.3s;
}
nav a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin-top: 2px;
  background-color: var(--accent-color);
}

footer {
  background-color: var(--secondary-color);
  margin-top: 30px;
  padding: 37px;
}
footer ul {
  display: flex;
  justify-content: space-around;
  color: var(--100);
  max-width: 360px;
  margin: 0 auto;
}
footer ul a {
  font-size: 30px;
  cursor: pointer;
}
footer ul a:hover {
  color: var(--200);
  transition: all 0.1s ease-in-out;
}
footer .copyright {
  color: var(--100);
  display: block;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin-top: 20px;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 175px;
  height: 100vh;
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  padding: 10px 0;
}
aside a {
  display: block;
  padding: 15px;
  color: var(--200);
  transition: all 0.3s ease-in-out;
}
aside a span {
  margin-left: 5px;
}
aside a:hover {
  background-color: var(--main-accent);
  color: white;
}
aside a.active {
  border-left: solid 5px var(--main-accent);
}
aside .bottom {
  margin-top: auto;
}

.dashboard {
  background-color: var(--247);
}
.dashboard main {
  margin-left: 175px;
  font-family: "Roboto", sans-serif;
  padding: 30px;
}

#carousal {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0 auto;
}
#carousal .card {
  width: 100%;
  padding: 50px;
}
#carousal .card blockquote {
  font-size: 30px;
  text-align: center;
}

#hero {
  position: relative;
  width: 100%;
  padding-bottom: 15px;
  height: 50vh;
  background-color: var(--hero-bg);
  transition: height 0.5s ease-in-out;
}
@media (min-width: 992px) {
  #hero {
    height: 95vh;
  }
}
#hero hr {
  border-top: solid 2px var(--secondary-color-A50);
  box-shadow: 0 0 5px var(--secondary-color);
}
#hero img,
#hero .gradient {
  max-width: 1200px;
  transition: margin 0.5s ease-in-out;
}
@media (min-width: 1230px) {
  #hero img,
  #hero .gradient {
    margin-top: 50px;
    border-radius: 10px;
  }
}
#hero img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  object-position: center 8%;
  z-index: 0;
}
#hero .gradient {
  background: linear-gradient(rgba(255, 255, 255, 0), black);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
#hero h1 {
  position: absolute;
  bottom: 0;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
  text-align: center;
  padding: 10px 50px;
  border-radius: 10px;
  font-family: "Georgia", serif;
  font-weight: 400;
  font-size: 36px;
  color: var(--200);
  z-index: 3;
}

#intro {
  padding: 0 30px;
  font-family: "Roboto", sans-serif;
  color: var(--200);
  line-height: 2;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0 auto;
}
#intro p + p {
  margin-top: 30px;
}
#intro p:last-of-type {
  margin-bottom: 30px;
}

#news {
  padding: 100px 0;
}
#news h1 {
  text-align: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  color: var(--100);
  font-size: 32px;
}
#news .banner {
  background-color: var(--accent-color);
  padding: 30px;
  margin: 30px 0;
  box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.2);
}
#news .banner .container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0 auto;
}
#news .banner .container p {
  font-size: 22px;
  color: var(--200);
}
#news .banner .container a {
  text-decoration: underline;
}
#news .banner .container a:hover {
  text-decoration: none;
}

#events[data-cli] .container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
  max-width: 1399.98px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
}
#events[data-cli] .card {
  max-width: 360px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--200);
}
#events[data-cli] .card .image-container {
  width: 100%;
  height: 200px;
  background-color: rgba(100, 100, 100, 0.1);
  border-radius: 10px;
}
#events[data-cli] .card .image-container img {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
  border-radius: 10px;
}
#events[data-cli] .card .title {
  font-family: "Georgia", serif;
  font-size: 25px;
  line-height: 1.25;
  margin: 15px 0;
}
#events[data-cli] .card .title:hover {
  color: white;
}
#events[data-cli] .card span {
  display: block;
  font-family: "Georgia", serif;
  font-style: italic;
}
#events[data-cli] .card p {
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
}

#event {
  padding-bottom: 60px;
}
#event .banner {
  background-color: rgba(50, 50, 50, 0.5);
  margin: 30px 0;
  overflow: hidden;
}
#event .banner img {
  max-height: 100vh;
  object-position: center;
  object-fit: cover;
  width: 100%;
}
#event .header {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 60px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
}
#event .header span {
  font-family: "Georgia", serif;
  display: block;
  font-style: italic;
  color: var(--200);
}
#event .content {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--200);
  font-size: 18px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
}
#event .content p + p {
  margin-top: 30px;
}

#bio {
  --gap: 30px;
  padding: var(--gap);
  transition: padding 0.5s ease-in-out;
  max-width: 1460px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0 auto;
}
@media (min-width: 992px) {
  #bio {
    padding-left: calc(var(--gap) * 3);
    padding-right: calc(var(--gap) * 3);
  }
}
@media (min-width: 992px) {
  #bio .block:first-child {
    display: none;
  }
}
#bio img {
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  opacity: 75%;
  border-radius: 10px;
}
#bio blockquote {
  max-width: 400px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  #bio .block + .block {
    margin-top: var(--gap);
  }
}
#bio .content {
  display: flex;
  flex-direction: column;
  color: var(--200);
  line-height: 2;
}
@media (min-width: 768px) {
  #bio .content {
    flex-direction: row;
  }
}
#bio .content .text {
  font-family: "Georgia", serif;
}
#bio .content .files {
  font-family: "Roboto", sans-serif;
}
#bio .content p + p {
  margin-top: var(--gap);
}
@media (max-width: 767px) {
  #bio .content div + div {
    margin-top: var(--gap);
  }
}
@media (min-width: 768px) {
  #bio .content div + div {
    margin-left: var(--gap);
    padding-left: var(--gap);
    position: relative;
  }
  #bio .content div + div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 188px;
    background-color: rgba(255, 255, 255, 0.1);
  }
}
#bio .content a {
  text-decoration: underline;
}
#bio .content a:hover {
  text-decoration: none;
}
#bio .content span {
  display: none;
  float: left;
  max-width: 300px;
  margin-right: 40px;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  #bio .content span {
    display: inline;
  }
}

#contact {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0 auto;
  padding: 30px;
}
#contact p[role=contentinfo] {
  padding: 30px;
  color: var(--200);
  font-family: "Georgia", serif;
  line-height: 2;
  font-size: 18px;
}

#listen[data-cli] {
  padding-top: 23px;
  margin: 0 auto;
}
@media (max-width: 1399px) {
  #listen[data-cli] {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}
#listen[data-cli] .card {
  font-family: "Roboto", sans-serif;
}
@media (max-width: 1399px) {
  #listen[data-cli] .card + .card {
    margin-top: 50px;
  }
}
#listen[data-cli] .card .title,
#listen[data-cli] .card .description {
  padding: 0 15px;
}
#listen[data-cli] .card .title {
  font-size: 20px;
  font-weight: 400;
  color: var(--200);
  margin-bottom: 10px;
}
#listen[data-cli] .card .description {
  font-size: 16px;
  font-weight: 300;
  color: var(--100);
  margin-left: 5px;
  line-height: 2;
}
#listen[data-cli] .card iframe {
  width: 100%;
  aspect-ratio: 16/9;
  margin-top: 20px;
  background-color: var(--40);
}
@media (min-width: 1400px) {
  #listen[data-cli] {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    padding: 60px;
    max-width: 1900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  #listen[data-cli] .card {
    width: 48.5%;
    margin-bottom: 3%;
  }
}

#login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login h1 {
  font-family: "Roboto", sans-serif;
  color: var(--200);
  font-size: 24px;
  font-weight: 400;
}
#login form {
  width: 500px;
  border: solid 1px rgba(255, 255, 255, 0.1);
  padding: 30px;
}
#login p,
#login a {
  font-family: "Roboto", sans-serif;
  margin: 15px 0;
  color: var(--100);
}
#login p {
  margin-bottom: 30px;
}
#login a:hover {
  color: var(--200);
  transition: all 0.3s ease-in-out;
}

#works[data-cli] .container {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}
#works[data-cli] .card + .card {
  margin-top: 30px;
}

#events[data-dashboard] .no-padding {
  padding: 0;
}
#events[data-dashboard] .box {
  max-width: 75px;
}
#events[data-dashboard] img {
  object-fit: cover;
  object-position: center;
}

#listen[data-dashboard] .no-padding {
  padding: 0;
}
#listen[data-dashboard] .box {
  max-width: 75px;
}
#listen[data-dashboard] img {
  object-fit: cover;
  object-position: center;
}
#listen[data-dashboard] iframe {
  width: 100%;
  height: 100%;
}

/* Home Page */
/* Events */
/* Bio Page */
/* Contact Page */
/* Listen Page */
/* News Page */
/* Login Page */
/* Works Page */
/*=============================*/
/* dashboard Folder */
