@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  /* Theme Colors */
  --main: rgb(23, 10, 10);
  --main-accent: rgb(136, 57, 59);
  --main-light: rgb(153, 80, 82);
  --secondary-color: rgb(15, 0, 0);
  --secondary-color-dark: rgba(10, 0, 0);
  --accent-color: rgba(227, 110, 110, 55%);
  --accent-color-fade: rgb(227, 110, 110, 10%);
  /* COMPONENTS */
  --dashboard-form: rgb(48, 66, 85);
  --dashboard: #2a654c;
  --dashboard-hover: #3b916d;
  --btn-primary: rgb(92, 40, 40);
  --btn-primary-hover: rgb(139, 77, 77);
  --hero-bg: rgb(64, 7, 7);
  /* UTILITY */
  --success: #3b916d;
  --success-hover: #2a654c;
  --danger: #b00020;
  --danger-hover: #b00020;
  --form: rgb(48, 66, 85);
  /* Monochrome */
  --247: rgb(247, 247, 247);
  --235: rgb(235, 235, 235);
  --220: rgb(220, 220, 220);
  --200: rgb(200, 200, 200);
  --180: rgb(180, 180, 180);
  --160: rgb(160, 160, 160);
  --140: rgb(140, 140, 140);
  --120: rgb(120, 120, 120);
  --100: rgb(100, 100, 100);
  --80: rgb(80, 80, 80);
  --60: rgb(60, 60, 60);
  --40: rgb(40, 40, 40);
  --20: rgb(20, 20, 20);
  --8: rgb(8, 8, 8);
}

.bg-white {
  background-color: var(--247);
}

blockquote {
  font-style: italic;
  font-family: "Georgia", serif;
}

.btn {
  box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.2);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0.2rem;
  font-family: "Roboto", sans-serif;
  display: inline-block;
}

.btn-primary {
  background-color: var(--btn-primary);
  color: var(--200);
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
  background-color: var(--btn-primary-hover);
  outline: solid 1px white;
  color: white;
}

.btn-success {
  background-color: var(--success);
  color: white;
}
.btn-success:hover {
  background-color: var(--success-hover);
}

.btn-danger {
  background-color: var(--danger);
}
.btn-danger:hover {
  background-color: var(--danger-hover);
}

.no-btn {
  background-color: transparent;
  box-shadow: none;
  color: var(--40);
}
.no-btn:hover {
  background-color: rgba(150, 150, 150, 0.1);
}

.btn-dashboard {
  background-color: var(--dashboard);
  color: white;
}
.btn-dashboard:hover {
  background-color: var(--dashboard-hover);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Direction */
  /* Wrap */
  /* Justify Content */
  /* Align Items */
  /* Gap */
}
.flex.row {
  flex-direction: row;
}
.flex.row-reverse {
  flex-direction: row-reverse;
}
.flex.column {
  flex-direction: column;
}
.flex.column-reverse {
  flex-direction: column-reverse;
}
.flex.wrap {
  flex-wrap: wrap;
}
.flex.wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex.nowrap {
  flex-wrap: nowrap;
}
.flex.justify-start {
  justify-content: flex-start;
}
.flex.justify-end {
  justify-content: flex-end;
}
.flex.justify-between {
  justify-content: space-between;
}
.flex.justify-around {
  justify-content: space-around;
}
.flex.justify-evenly {
  justify-content: space-evenly;
}
.flex.align-start {
  align-items: flex-start;
}
.flex.align-end {
  align-items: flex-end;
}
.flex.align-stretch {
  align-items: stretch;
}
.flex.align-basline {
  align-items: baseline;
}
.flex.gap {
  gap: 30px;
}
.flex.gap-sm {
  gap: 10px;
}
.flex.gap-md {
  gap: 40px;
}
.flex.gap-lg {
  gap: 60px;
}

form {
  border-radius: 0.2rem;
}
form label,
form input,
form select,
form textarea {
  font-family: "Roboto", sans-serif;
}
form label.error, form label.error:active,
form input.error,
form input.error:active,
form select.error,
form select.error:active,
form textarea.error,
form textarea.error:active {
  outline: solid 1px var(--danger) !important;
}
form label,
form select,
form select option {
  text-transform: capitalize;
}
form label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
}
form input,
form textarea,
form select {
  width: 100%;
  resize: none;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0.2rem;
}
form input:focus,
form textarea:focus,
form select:focus {
  outline: solid 1px var(--200);
}
form .item + .item {
  margin-top: 30px;
}

.primary-form .item:first-child {
  display: flex;
  justify-content: space-between;
}
.primary-form .item:first-child .subitem {
  width: 100%;
}
.primary-form .item:first-child .subitem + .subitem {
  margin-left: 30px;
}
.primary-form .item + .item {
  margin-top: 17.5px;
}
.primary-form .item:last-child {
  margin-top: 60px;
}
.primary-form .item:last-child button {
  width: 100%;
}
.primary-form .item .subitem label {
  display: block;
  margin-bottom: 5px;
  color: var(--200);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
.primary-form .item .subitem input,
.primary-form .item .subitem textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(210, 210, 210, 0.15);
  background-color: var(--secondary-color);
  color: var(--200);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  resize: none;
}
.primary-form .item .subitem input:focus,
.primary-form .item .subitem textarea:focus {
  outline: none;
  border-color: var(--gray);
}
.primary-form .item .subitem textarea {
  height: 200px;
}

.contact-form .item:first-child {
  display: flex;
  justify-content: space-between;
}
.contact-form .item:first-child .subitem {
  width: 100%;
}
.contact-form .item:first-child .subitem + .subitem {
  margin-left: 30px;
}
.contact-form .item + .item {
  margin-top: 17.5px;
}
.contact-form .item:last-child {
  margin-top: 60px;
}
.contact-form .item:last-child button {
  width: 100%;
}
.contact-form .item .subitem label {
  display: block;
  margin-bottom: 5px;
  color: var(--200);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
.contact-form .item .subitem input,
.contact-form .item .subitem textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(210, 210, 210, 0.15);
  background-color: var(--secondary-color);
  color: var(--200);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  resize: none;
}
.contact-form .item .subitem input:focus,
.contact-form .item .subitem textarea:focus {
  outline: none;
  border-color: var(--gray);
}
.contact-form .item .subitem textarea {
  height: 200px;
}

.dashboard-form--wrapper {
  background-color: var(--235);
  height: 100vh;
}
.dashboard-form--wrapper.small {
  height: auto;
}

.dashboard-form {
  font-family: "Roboto", sans-serif;
  border-radius: 0.2rem;
  box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.2);
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: 100%;
}
.dashboard-form::-webkit-scrollbar {
  width: 0px;
  display: none;
}
.dashboard-form input,
.dashboard-form textarea {
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.dashboard-form input:hover {
  background-color: rgba(200, 200, 200, 0.1);
}
.dashboard-form input[type=file] {
  display: none;
}
.dashboard-form label.file-upload {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 0;
  padding: 10px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.dashboard-form label.file-upload:hover {
  background-color: rgba(200, 200, 200, 0.1);
}
.dashboard-form input[type=hidden] + .item {
  margin-top: 30px;
}
.dashboard-form .header {
  box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.2);
  background-color: rgb(247, 247, 247);
  position: sticky;
  top: 0;
  z-index: 5;
  border-radius: 5px 5px 0 0;
}
.dashboard-form .content {
  background-color: white;
}
.dashboard-form .preview {
  max-width: 400px;
  margin: 30px 0;
  border-radius: 10px;
  display: none;
}
.dashboard-form .preview.active {
  display: block;
}
.dashboard-form .preview img {
  border-radius: 0.2rem;
  box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.2);
}
.dashboard-form .filename {
  display: none;
  margin-left: 5px;
  opacity: 80%;
  font-size: 12px;
}
.dashboard-form .filename.active {
  display: inline-block;
}

hr {
  border-top: solid 1px rgba(0, 0, 0, 0.25);
}
hr.light {
  border-color: rgba(255, 255, 255, 0.25);
}

.mw-sm {
  max-width: 667.98px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.mw-md {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.mw-lg {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

/* Components */
.sp-aside-left {
  margin-left: 175px;
}
@media (max-width: 768px) {
  .sp-aside-left {
    margin-left: 0;
  }
}

/* Utilities */
.mg-xs {
  margin: 5px;
}

.pd-xs {
  padding: 5px;
}

.mg--xs {
  margin: 5px;
}

.pd--xs {
  padding: 5px;
}

.mg-t-xs {
  margin-top: 5px;
}

.pd-t-xs {
  padding-top: 5px;
}

.mg-r-xs {
  margin-right: 5px;
}

.pd-r-xs {
  padding-right: 5px;
}

.mg-b-xs {
  margin-bottom: 5px;
}

.pd-b-xs {
  padding-bottom: 5px;
}

.mg-l-xs {
  margin-left: 5px;
}

.pd-l-xs {
  padding-left: 5px;
}

.mg-sm {
  margin: 15px;
}

.pd-sm {
  padding: 15px;
}

.mg--sm {
  margin: 15px;
}

.pd--sm {
  padding: 15px;
}

.mg-t-sm {
  margin-top: 15px;
}

.pd-t-sm {
  padding-top: 15px;
}

.mg-r-sm {
  margin-right: 15px;
}

.pd-r-sm {
  padding-right: 15px;
}

.mg-b-sm {
  margin-bottom: 15px;
}

.pd-b-sm {
  padding-bottom: 15px;
}

.mg-l-sm {
  margin-left: 15px;
}

.pd-l-sm {
  padding-left: 15px;
}

.mg-md {
  margin: 30px;
}

.pd-md {
  padding: 30px;
}

.mg--md {
  margin: 30px;
}

.pd--md {
  padding: 30px;
}

.mg-t-md {
  margin-top: 30px;
}

.pd-t-md {
  padding-top: 30px;
}

.mg-r-md {
  margin-right: 30px;
}

.pd-r-md {
  padding-right: 30px;
}

.mg-b-md {
  margin-bottom: 30px;
}

.pd-b-md {
  padding-bottom: 30px;
}

.mg-l-md {
  margin-left: 30px;
}

.pd-l-md {
  padding-left: 30px;
}

.mg-lg {
  margin: 60px;
}

.pd-lg {
  padding: 60px;
}

.mg--lg {
  margin: 60px;
}

.pd--lg {
  padding: 60px;
}

.mg-t-lg {
  margin-top: 60px;
}

.pd-t-lg {
  padding-top: 60px;
}

.mg-r-lg {
  margin-right: 60px;
}

.pd-r-lg {
  padding-right: 60px;
}

.mg-b-lg {
  margin-bottom: 60px;
}

.pd-b-lg {
  padding-bottom: 60px;
}

.mg-l-lg {
  margin-left: 60px;
}

.pd-l-lg {
  padding-left: 60px;
}

.mg-xl {
  margin: 90px;
}

.pd-xl {
  padding: 90px;
}

.mg--xl {
  margin: 90px;
}

.pd--xl {
  padding: 90px;
}

.mg-t-xl {
  margin-top: 90px;
}

.pd-t-xl {
  padding-top: 90px;
}

.mg-r-xl {
  margin-right: 90px;
}

.pd-r-xl {
  padding-right: 90px;
}

.mg-b-xl {
  margin-bottom: 90px;
}

.pd-b-xl {
  padding-bottom: 90px;
}

.mg-l-xl {
  margin-left: 90px;
}

.pd-l-xl {
  padding-left: 90px;
}

table {
  border-collapse: collapse;
}

/* Dashboard Table */
.dashboard-table--container {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.dashboard-table {
  font-family: "Roboto", sans-serif;
  width: 100%;
}
.dashboard-table thead {
  background-color: rgba(150, 150, 150, 0.1);
  color: var(--100);
  text-transform: capitalize;
}
.dashboard-table th {
  font-weight: 500;
}
.dashboard-table th {
  text-align: left;
}
.dashboard-table th,
.dashboard-table td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.dashboard-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
  max-height: 20px;
}
.dashboard-table td h1,
.dashboard-table td h2,
.dashboard-table td h3,
.dashboard-table td h4,
.dashboard-table td h5,
.dashboard-table td h6,
.dashboard-table td p,
.dashboard-table td span,
.dashboard-table td em,
.dashboard-table td strong,
.dashboard-table td del,
.dashboard-table td ins,
.dashboard-table td sub,
.dashboard-table td sup,
.dashboard-table td ul,
.dashboard-table td ol,
.dashboard-table td li,
.dashboard-table td table,
.dashboard-table td thead,
.dashboard-table td tbody,
.dashboard-table td tfoot,
.dashboard-table td tr,
.dashboard-table td td,
.dashboard-table td th,
.dashboard-table td a,
.dashboard-table td img,
.dashboard-table td blockquote,
.dashboard-table td code,
.dashboard-table td pre,
.dashboard-table td hr,
.dashboard-table td br,
.dashboard-table td div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px !important;
  max-height: 22px;
}
.dashboard-table th:first-child,
.dashboard-table td:first-child,
.dashboard-table th:last-child,
.dashboard-table td:last-child {
  width: 20px;
}
.dashboard-table th:not(:first-child):not(:last-child),
.dashboard-table td:not(:last-child) {
  border-right: solid 2px rgba(100, 100, 100, 0.1); /* Add left border to all td elements except the first one */
}
.dashboard-table th {
  border-bottom: solid 2px rgba(100, 100, 100, 0.5);
}
.dashboard-table tr:not(:last-child) {
  border-bottom: solid 2px rgba(100, 100, 100, 0.1);
}

.dashboard-table--container .table-header {
  padding-bottom: 20px;
}
.dashboard-table--container .table-header hr {
  margin-top: 5px;
}
.dashboard-table--container .table-header .btn {
  margin-top: 20px;
}

.toast-notification {
  position: fixed;
  top: 32px;
  right: 50%;
  transform: translateX(50%);
  z-index: 9999;
  width: max-content;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.2);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0.2rem;
  font-family: "Roboto", sans-serif;
  color: var(--247);
  font-size: 14px;
  opacity: 0;
}
.toast-notification.active {
  opacity: 1;
}
.toast-notification.success {
  background-color: var(--success);
}
.toast-notification.danger {
  background-color: var(--danger);
}

/* Headers */
.main-header {
  padding-top: 60px;
  padding-bottom: 30px;
  color: var(--100);
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.secondary-header {
  color: var(--140);
  text-align: center;
  font-family: "Georgia", serif;
}
.secondary-header:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--200);
  margin: 30px auto;
}

.third-header {
  font-family: "Georgia", serif;
  padding-bottom: 5px;
  color: var(--main-accent);
}

.event-header {
  font-family: "Georgia", serif;
  color: var(--247);
  font-size: 80px;
  text-align: center;
  margin: 100px 0;
}
@media (max-width: 768px) {
  .event-header {
    font-size: 60px;
    margin: 80px 0;
  }
}
@media (max-width: 576px) {
  .event-header {
    font-size: 40px;
    margin: 60px 0;
  }
}

.dashboard-header {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: var(--dashboard);
  text-transform: capitalize;
}

/* Subheader */
.dashboard-subheader {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--100);
  font-weight: 300;
  text-transform: uppercase;
}

/* Links */
.nav-link {
  font-weight: 300;
  color: var(--200);
}
.nav-link:hover, .nav-link.active {
  color: var(--247);
  transition: all 0.3s ease-in-out;
}
.nav-link:hover::after, .nav-link.active::after {
  width: 100%;
  transition: width 0.3s;
}
.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin-top: 2px;
  background-color: var(--accent-color);
}

.dashboard-table-link {
  color: var(--form);
  text-decoration: underline;
  display: block;
  width: max-content;
  margin: 15px 0 30px;
}
.dashboard-table-link:hover {
  text-decoration: none;
}
.dashboard-table-link i {
  margin-left: 5px;
}

.aside-link {
  color: var(--200);
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  transition: all 0.3s ease-in-out;
}
.aside-link span {
  margin-left: 5px;
}
.aside-link:hover {
  background-color: var(--dashboard-hover);
  color: white;
}
.aside-link.active {
  border-left: solid 5px var(--dashboard-hover);
}

.icon-link {
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}
.icon-link i {
  font-size: 13px;
  color: var(--140);
  transition: all 0.3s ease-in-out;
}
.icon-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.icon-link:hover i {
  color: var(--20);
}

/* Text */
.main-text {
  font-family: "Georgia", serif;
}

nav {
  font-family: "Roboto", sans-serif;
  padding: 15px 10px;
  background-color: var(--secondary-color-dark);
  box-shadow: 0 0 1px 1px rgb(10, 0, 0);
  position: sticky;
  z-index: 10;
  top: 0;
}
nav ul {
  display: flex;
  justify-content: space-around;
  max-width: 420px;
  margin: 0 auto;
}

footer {
  background-color: var(--secondary-color);
  margin-top: 30px;
  padding: 37px;
}
footer ul {
  display: flex;
  justify-content: space-around;
  color: var(--100);
  max-width: 360px;
  margin: 0 auto;
}
footer ul a {
  font-size: 30px;
  cursor: pointer;
}
footer ul a:hover {
  color: var(--200);
  transition: all 0.1s ease-in-out;
}
footer .copyright {
  color: var(--100);
  display: block;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin-top: 20px;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 175px;
  height: 100vh;
  background-color: var(--dashboard);
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  aside {
    position: static;
    width: 100%;
    height: max-content;
  }
}
aside .bottom {
  margin-top: auto;
}

.dashboard {
  background-color: var(--247);
  color: var(--40);
}

#carousal {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0 auto;
}
#carousal .card {
  width: 100%;
  padding: 50px;
}
#carousal .card blockquote {
  font-size: 30px;
  text-align: center;
}

#hero {
  position: relative;
  width: 100%;
  padding-bottom: 15px;
  height: 50vh;
  background-color: var(--hero-bg);
  transition: height 0.5s ease-in-out;
}
@media (min-width: 992px) {
  #hero {
    height: 95vh;
  }
}
#hero hr {
  border-top: solid 2px var(--secondary-color-A50);
  box-shadow: 0 0 5px var(--secondary-color);
}
#hero img,
#hero .gradient {
  max-width: 1200px;
  transition: margin 0.5s ease-in-out;
}
@media (min-width: 1230px) {
  #hero img,
  #hero .gradient {
    margin-top: 50px;
    border-radius: 10px;
  }
}
#hero img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  object-position: center 8%;
  z-index: 0;
}
#hero .gradient {
  background: linear-gradient(rgba(255, 255, 255, 0), black);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
#hero h1 {
  position: absolute;
  bottom: 0;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
  text-align: center;
  padding: 10px 50px;
  border-radius: 10px;
  font-family: "Georgia", serif;
  font-weight: 400;
  font-size: 36px;
  color: var(--200);
  z-index: 3;
}

#intro {
  padding: 0 30px;
  font-family: "Roboto", sans-serif;
  color: var(--200);
  line-height: 2;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0 auto;
}
#intro p + p {
  margin-top: 30px;
}
#intro p:last-of-type {
  margin-bottom: 30px;
}

#news {
  padding: 100px 0;
}
#news h1 {
  text-align: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  color: var(--100);
  font-size: 32px;
}
#news .banner {
  background-color: var(--accent-color);
  padding: 30px;
  margin: 30px 0;
  box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.2);
}
#news .banner .container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0 auto;
}
#news .banner .container p {
  font-size: 22px;
  color: var(--200);
}
#news .banner .container a {
  text-decoration: underline;
}
#news .banner .container a:hover {
  text-decoration: none;
}

#events[data-cli] .container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
  max-width: 1399.98px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
}
@media (max-width: 768px) {
  #events[data-cli] .container {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 340px) {
  #events[data-cli] .container {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
#events[data-cli] .card {
  max-width: 360px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--200);
}
#events[data-cli] .card .image-container {
  width: 100%;
  height: 200px;
  background-color: rgba(100, 100, 100, 0.1);
  border-radius: 10px;
}
#events[data-cli] .card .image-container img {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
  border-radius: 10px;
}
#events[data-cli] .card .title {
  font-family: "Georgia", serif;
  font-size: 25px;
  line-height: 1.25;
  margin: 15px 0;
}
#events[data-cli] .card .title:hover {
  color: white;
}
#events[data-cli] .card span {
  display: block;
  font-family: "Georgia", serif;
  font-style: italic;
}
#events[data-cli] .card p {
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
}

#event {
  padding-bottom: 60px;
}
#event .banner {
  background-color: rgba(50, 50, 50, 0.5);
  margin: 30px 0;
  overflow: hidden;
}
#event .banner img {
  max-height: 100vh;
  object-position: center;
  object-fit: cover;
  width: 100%;
}
#event .header {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 60px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
}
#event .header span {
  font-family: "Georgia", serif;
  display: block;
  font-style: italic;
  color: var(--200);
}
#event .content {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--200);
  font-size: 18px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
}
#event .content p + p {
  margin-top: 30px;
}

#bio {
  --gap: 30px;
  padding: var(--gap);
  transition: padding 0.5s ease-in-out;
  max-width: 1460px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0 auto;
}
@media (min-width: 992px) {
  #bio {
    padding-left: calc(var(--gap) * 3);
    padding-right: calc(var(--gap) * 3);
  }
}
@media (min-width: 992px) {
  #bio .block:first-child {
    display: none;
  }
}
#bio img {
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  opacity: 75%;
  border-radius: 10px;
  max-width: min(600px, 100%);
}
#bio blockquote {
  max-width: 400px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  #bio .block + .block {
    margin-top: var(--gap);
  }
}
#bio .content {
  display: flex;
  flex-direction: column;
  color: var(--200);
  line-height: 2;
}
@media (min-width: 768px) {
  #bio .content {
    flex-direction: row;
  }
}
#bio .content .text {
  font-family: "Georgia", serif;
}
#bio .content .files {
  font-family: "Roboto", sans-serif;
}
#bio .content p + p {
  margin-top: var(--gap);
}
@media (max-width: 767px) {
  #bio .content div + div {
    margin-top: var(--gap);
  }
}
@media (min-width: 768px) {
  #bio .content div + div {
    margin-left: var(--gap);
    padding-left: var(--gap);
    position: relative;
  }
  #bio .content div + div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 188px;
    background-color: rgba(255, 255, 255, 0.1);
  }
}
#bio .content a {
  text-decoration: underline;
}
#bio .content a:hover {
  text-decoration: none;
}
#bio .content span {
  display: none;
  float: left;
  max-width: 300px;
  margin-right: 40px;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  #bio .content span {
    display: inline;
  }
}

#contact {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0 auto;
}
@media (max-width: 340px) {
  #contact {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
#contact p[role=contentinfo] {
  color: var(--200);
  font-family: "Georgia", serif;
  line-height: 2;
  font-size: 18px;
}

#listen[data-cli] {
  padding-top: 23px;
  margin: 0 auto;
}
@media (max-width: 1399px) {
  #listen[data-cli] {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}
#listen[data-cli] .card {
  font-family: "Roboto", sans-serif;
}
@media (max-width: 1399px) {
  #listen[data-cli] .card + .card {
    margin-top: 50px;
  }
}
#listen[data-cli] .card .title,
#listen[data-cli] .card .description {
  padding: 0 15px;
}
#listen[data-cli] .card .title {
  font-size: 20px;
  font-weight: 400;
  color: var(--200);
  margin-bottom: 10px;
}
#listen[data-cli] .card .description {
  font-size: 16px;
  font-weight: 300;
  color: var(--100);
  margin-left: 5px;
  line-height: 2;
}
#listen[data-cli] .card iframe {
  width: 100%;
  aspect-ratio: 16/9;
  margin-top: 20px;
  background-color: var(--40);
}
@media (min-width: 1400px) {
  #listen[data-cli] {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    padding: 60px;
    max-width: 1900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  #listen[data-cli] .card {
    width: 48.5%;
    margin-bottom: 3%;
  }
}

#login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login h1 {
  font-family: "Roboto", sans-serif;
  color: var(--200);
  font-size: 24px;
  font-weight: 400;
}
#login p,
#login a {
  font-family: "Roboto", sans-serif;
  margin: 15px 0;
  color: var(--100);
}
#login p {
  margin-bottom: 30px;
}
#login a:hover {
  color: var(--200);
  transition: all 0.3s ease-in-out;
}

#works[data-cli] {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 340px) {
  #works[data-cli] {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
#works[data-cli] .header {
  font-family: "Roboto", sans-serif;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 30px;
}
#works[data-cli] .container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}
#works[data-cli] .card + .card {
  margin-top: 30px;
}
#works[data-cli] .card {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}
#works[data-cli] .card ul {
  color: var(--200);
  font-family: "Roboto", sans-serif;
}
#works[data-cli] .card .main-text {
  background-color: rgba(100, 100, 100, 0.1);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px 0;
  font-family: "Roboto", sans-serif;
  border-left: solid 3px var(--main-accent);
}

#events[data-dashboard] .no-padding {
  padding: 0;
}
#events[data-dashboard] .box {
  max-width: 75px;
}
#events[data-dashboard] img {
  object-fit: cover;
  object-position: center;
}

#listen[data-dashboard] .no-padding {
  padding: 0;
}
#listen[data-dashboard] .box {
  max-width: 75px;
}
#listen[data-dashboard] img {
  object-fit: cover;
  object-position: center;
}
#listen[data-dashboard] iframe {
  width: 100%;
  height: 100%;
}

/* Home Page */
/* Events */
/* Bio Page */
/* Contact Page */
/* Listen Page */
/* News Page */
/* Login Page */
/* Works Page */
/*=============================*/
/* dashboard Folder */
