<aside>
  <div class="top">
    <ul>
      <li>
        <a href="/">
          <i class="fa-solid fa-house"></i>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="/dashboard">
          <i class="fa-solid fa-gauge"></i>
          <span>Dashboard</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="middle">
    <ul>
      <li>
        <a href="/dashboard/events">
          <i class="fa-solid fa-calendar-days"></i>
          <span>Events</span>
        </a>
      </li>
      <li>
        <a href="/dashboard/bio">
          <i class="fa-solid fa-book"></i>
          <span>Bio</span>
        </a>
      </li>
      <li>
        <a href="/dashboard/listen">
          <i class="fa-solid fa-music"></i>
          <span>Listen</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="bottom">
    <ul>
      <li>
        <a href="/logout">
          <i class="fa-solid fa-right-from-bracket"></i>
          <span>Log out</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
