<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Will Hopkins | Dashboard | New Work</title>
		<%- include('../../partials/head') %>
	</head>

	<body class="dashboard">
		<%- include('../../partials/aside') %>
		<script>
			document.querySelector( 'aside .middle ul li:nth-child(4) a' )
				.classList.add( 'active' );
		</script>
		<main>
			<h1 class="secondary-header">New Work</h1>

			<!-- New Work Form -->
			<%- include('../../partials/form', {
			metadata: {
				method: 'post',
				action: '/dashboard/works',
				enctype: 'multipart/form-data',
				name: 'work'
			},
			fields: [
				{ name: 'title', required: true },
				{ name: 'composer'},
				{name: 'year'},
        {tag: 'select', name: 'tag', options: ['solo', 'chamber', 'ensemble', 'orchestral', 'electronic', 'vocal', 'choral', 'opera', 'dance', 'theatre', 'film', 'installation', 'other']},
        {tag: 'textarea', name: 'description'},
			]
		}) %>
		</main>
	</body>

</html>